<% @page.each do |page| %>
	<br>
	<h4><%= page.headder %></h4>
	<%= link_to " vis ", page %>
	<%= link_to " Rediger ", edit_admin_page_path(page)%>
	<%= link_to " Slet ", page, method: :delete, data:{confirm: "er du sikker på at du vil slette siden?"} %>
<% end %>
<br>
<br>
<%= link_to "Ny Side", new_admin_page_path %>