<h1>x Din første aplikation</h1>
<p>allrighty, så er det tid til at bygge din første aplikation, da ROR er et udviklerværktøj med rigtig mange bevægelige dele og features så vil vi starte med at lave en simpel hello world app og udvikle på denne app med små skridt indtil vi med rimelig selvtilid kan bygge en funktionel statisk hjemmeside. </p>
<br>
<br>
<h4>Ny rails app</h4>
<p>først skal vi producere en ny rails app dette gør vi ved at åbne terminalen og vælge en ruby verion i RVM og derefter skrive følgende komado i terminalen</p>
<br>
<kbd>rails new hello_world</kbd>
<br>
<br>
<p>der efter burde terminalen printe en række beskeder der ser sådan ud</p>
<%=image_tag("hello.png", :size => "500x300", :crop => :fill)%>
<br>
<br>
<p>dser det sådan ud? perfekt! <br> hvis du finder mappen der hedder hello_world så kan du se at rails har lavet en masse filer og mapper, vi skal nok komme omkring det hele men lige nu er det ikke vigitgt</p>
<br>
<br>
<h4>Rails Server</h4>

 <p>faktisk så kan du allerede nu se din applikation ved at bruge en indbygget feature i rails <br> rails har en inbygget virtuel server der kan lade dig teste din applikation mens du arbejder.</p>
 <br>
 <p>inde i terminalen taster skal du skrive følgende komando</p>
 <kbd>rails server</kbd>
 <p>der efter så skulle terminalen se sådan ud</p>
 <br>
 <%=image_tag("rails-s.png", :size => "500x300", :crop => :fill)%>

 <p>goodie!, så er det tid til at åbne vores browser. Da vi liǵe har startet en virtuel server så har vi ikke en almindelig url, men jeg kan fortælle dig at du skal skive localhost:3000 i url fæltet</p>
 <br>
 <p>når du er på siden så skulle det helst se sådan ud</p>
 <%=image_tag("rails-startup.png", :size => "500x300", :crop => :fill)%>
 <br>
 <br>
 <p>som du kan se så er der kun et billede på vores hjemmeside, og det er ikke en gang et billede som vi kender. så lad os gøre noget ved det og putte vores eget indhold i</p>
 <br>
 <br>
<h4> rails Controlleren sidens hjerne</h4>
 <p>rails bygger på en MVC arkitektur, det er lidt indviklet at forstå så lige nu kikker vi kun på controlleren<br> Controlleren er lidt ligesom applikationens hjerne, det styre alle dele af applikationen, uden den ville man ikke kunnet lave en rails applikation. </p>
 <br>
<p>Nu er det tid til at lave indhold på din hjemmeside, og det første vi skal lave er at generere en controller.  <br> i terminalen skal du skrive følgende komandoer</p>
 <br>
<kbd>rails generate controller home</kbd>
<br>
<kbd>subl . </kbd>
 <br>
<p>som du kan se så hoppede sublime text op med alle mapper der høre til vores rails applikation. <br> hvis du kikker i app/controllers, så kan du se at vores kommando har lavet en ny controller der hedder home_controller.</p>
<p>inde i home controlleren skulle det helst se sådan ud</p>
<br>
<%=image_tag("home controller.png", :size => "500x75", :crop => :fill)%>

<p>skide godt! nu er det tid til at lave den først (og eneste) side i vores ROR applikation. <br>
da jeg tror på at handling forklare bedre end ord så lad os hoppe direkte igang med at lave en controller action <br> inde i vores controller mellem class og end skal du skrive følgende.</p>
<br>
<%= image_tag("controller action.png", size: "200x100", :crop => :fill)%>
<p>fedt nok, så er vi faktisk færdig med at bruge controlleren lige nu. men bare rolig, vi kommer mere ind på controlleren på MVC siden og i senere opgaver</p>
<br>


<h4>Routes sidens telefon bog</h4>
<p>nu hvor vi har lavet en index action i vores home controller, så skal vi fortælle rails at destinationen er en side man kan navigere til. <br>
Dette gør vi gennem vores routes!</p>
<br>
<p>inde i /app/config mappen skulle der være en fil der hedder routes <br>
hvis du åbner routes så vil den se sådan ud</p>

<%= image_tag("rails routes.png", size: "350x100", :crop => :fill)%>

<p>Ńu skal vi lave en forbindelse mellem vores controller action og vores routes <br>
grunden til at vi gør dette er hvis en bruger taster en url eller klikker på et link <br>
så sender browseren en forspørgsel til vores routes som så fortæller vores controller hvad den skal begynde at arbejde på</p>
<br>
<p></p>

