<!DOCTYPE html>
<html>
  <head>
    <title>RailsCookBook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">The Ruby Cook Book For Beginners</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Recipies", recipies_index_path%></li>
            <li></li>
          </ul>
          <%=image_tag("ruby.jpg")%>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
			<%= yield %>
    </div><!-- /.container -->
  </body>
  <footer class="footer">
      <div class="container">
        <p class="text-muted"></p>
      </div>
    </footer>
</html>
